*{
    padding: 0%;
    margin: 0%;
    }
    body{
      padding: 0%;
      margin: 0%;
    }
    div{
      padding: 10px; /*this line means padding-left, right, top, bottom all 10px padding*/
      height: 300px;
      border-width: 3px;
      border-style: outset;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .btn-class{
      background-color: #10a37f;
      border-radius: 3px;
      border-style: none;
      height: 20px;
      width: 90%;
      position: absolute;
      text-align: center;
      top: 89%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .submit-btn {
      background-color: #10a37f; /* Green */
      position: absolute;
      border: none;
      color: white;
      padding: 10px 32px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    .sign-in-class{
      border-style: outset;
      height: auto;
      /*border-style: hidden;*/
      position: absolute;
      text-align: center;
      top: -10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }