<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="registration-page.component.css">
  <title>Document</title>
  <router-outlet></router-outlet>
</head>
<body>
<div>
  <form action="#" method = "POST">
    <div class="sign-in-class">
      <h1 class="sign-in">Sign in</h1>
    </div>
    <label for="fname">Enter First Name: </label>
    <input type="text" id="fname" name="fname" [(ngModel)] = "fname">
    <br><br>
    <label for="lname">Enter Last Name: </label>
    <input type="text" id="lname" name="lname" [(ngModel)] = "lname">
    <br><br>
    <label for="company_name">Enter company name: </label>
    <input type="text" id="company_name" name="company_name" [(ngModel)] = "company_name">
    <br><br>
    <label for="phone_no">Enter Phone Number: </label>
    <input type="text" id="phone_no" name="phone_no" [(ngModel)] = "phone_no">
    <br><br>
    <label for="email">Enter Email: </label>
    <input type="email" id="email" name="email" [(ngModel)] = "email">
    <br><br>
    <label for="password">Enter Password: </label>
    <input type="password" id="password" name="password" [(ngModel)] = "password">
    <br><br>
    <div class="btn-class">
      <button type="button" class="submit-btn">Submit</button>
    </div>
    
  </form>
</div>
  
  
</body>
</html>
