<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="studentHome" style="font-size: 30px;">Placeable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto" *ngIf="user_type==student_type; else elseIfBlock">
            <li class="nav-item">
              <a class="button m-1 btn btn-light btn-outline-dark" href="/home">Logout</a>
            </li>
          </ul>
          <ng-template #elseIfBlock>
            <ul class="navbar-nav ml-auto" *ngIf="user_type==placement_type; else elseBlock">
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/studentHome/details">Student</a>
              </li>
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/studentHome">Job Posts</a>
              </li>
              <li class="nav-item active">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/placementOfficerHome">Recruiters</a>
              </li>
              <li class="nav-item">
                <a class="m-1 btn btn-light btn-outline-dark" href="/home">Logout</a>
              </li>
            </ul>
          </ng-template>
          <ng-template #elseBlock>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/recruiterHome">Home</a>
              </li>
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/recruiterPosts">My Posts</a>
              </li>
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/home">Logout</a>
              </li>
            </ul>
          </ng-template>
        </div>
      </nav>

      <div class="outerContainer p-5 mx-5">
        <div class="form-outline mb-4 mx-5">
            <input type="search" class="form-control" id="datatable-search-input" placeholder="Search" [(ngModel)]="searchText">
            <label class="form-label" for="datatable-search-input" hidden>Search</label>
        </div>

      <div class="container my-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Company</th>
              <th>Job Position</th>
              <th>Recruiter</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let JobPost of JobPosts | filter:searchText">
              <td>{{JobPost.company_name}}</td>
              <td>{{JobPost.job_position}}</td>
              <td>{{JobPost.recruiter_name}}</td>
              <td>
                <button type="button" class="btn btn-dark mr-1" (click)="viewClick(JobPost)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
