<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="studentHome" style="font-size: 30px;">Placeable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 20px;">Profile</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 20px;">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container my-5" [hidden]="TableSection">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Company</th>
              <th>Job Position</th>
              <th>Recruiter</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let JobPost of JobPosts">
              <td>{{JobPost.company_name}}</td>
              <td>{{JobPost.job_position}}</td>
              <td>{{JobPost.recruiter_name}}</td>
              <td>
                <button type="button" class="btn btn-dark mr-1" (click)="viewClick(JobPost)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container my-5" [hidden]="JobPostSection">

        <div class="card-header py-4 px-5 bg-light border-0">
          <h4 class="mb-0 fw-bold">{{company_name}}</h4>
        </div>

        <div class="card-body px-5">
          <div class="row gx-xl-5">
            <div class="col-md-8">
                <label style="font-size: 20px;"><u><b>{{job_position}}</b></u></label><br>
                <div [innerHTML]="job_description"></div><br>
              </div>
            </div>
          </div>

          <div class="card-footer text-end py-4 px-5 bg-light border-0">
            <button type="button" class="btn btn-dark mr-1" (click)="backClick()">Back</button>
          </div>

      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
