<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="studentHome" style="font-size: 30px;">Placeable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto" *ngIf="user_type==student_type; else elseIfBlock">
            <li class="nav-item">
              <a class="button m-1 btn btn-light btn-outline-dark" href="/home">Logout</a>
            </li>
          </ul>
          <ng-template #elseIfBlock>
            <ul class="navbar-nav ml-auto" *ngIf="user_type==placement_type; else elseBlock">
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/studentHome/details">Student</a>
              </li>
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/studentHome">Job Posts</a>
              </li>
              <li class="nav-item active">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/placementOfficerHome">Recruiters</a>
              </li>
              <li class="nav-item">
                <a class="m-1 btn btn-light btn-outline-dark" href="/home">Logout</a>
              </li>
            </ul>
          </ng-template>
          <ng-template #elseBlock>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/recruiterHome">Home</a>
              </li>
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/recruiterPosts">My Posts</a>
              </li>
              <li class="nav-item">
                <a class="button m-1 btn btn-light btn-outline-dark" href="/home">Logout</a>
              </li>
            </ul>
          </ng-template>
        </div>
      </nav>

      <div class="container my-5">

        <div class="card-header py-4 px-5 bg-light border-0">
          <div class="inline" style="position: relative; height: 35px;">
            <h4 class="mb-0 fw-bold" style="position: absolute; left:0;">{{company_name}}</h4><button style="position: absolute; right:0;" type="button" class="btn btn-dark mr-1" (click)="backClick()">Back</button>
          </div>
        </div>

        <div class="card-body px-5">
          <div class="row gx-xl-5">
            <div class="col-md-8">
                <label style="font-size: 20px;"><u><b>{{job_position}}</b></u></label><br>
                <div [innerHTML]="job_description"></div><br>
              </div>
            </div>
          </div>

          <div class="card-footer text-end py-4 px-5 bg-light border-0" style="height: 190px;">
            <div class="comment-div" style="position: relative; height: 35px;">
              <textarea class="form-control" style="position: relative;" placeholder="Comment" name="comment" id="comment" rows="3" [(ngModel)] = "comment" required></textarea><br>
              <button type="submit" style="position: absolute; right:0;" class="btn btn-dark btn-rounded" (click)="onClick()">
                Send
              </button>
            </div>
          </div>

          <br>

          <div class="card-body px-5">
            <div class="row gx-xl-5">
              <div class="col-md-8" *ngFor="let Comment of Comments">
                <div class="if-condition" *ngIf="Comment.user_email==userData; else elseBlock"> 
                <b>{{Comment.user_email}}</b><br>
                   {{Comment.comment}}<br>
                   <a (click)="deleteComment(Comment)" href="studentCompany" style="color: red;">Delete</a><br><br>
                </div>
                <ng-template #elseBlock>
                <b>{{Comment.user_email}}</b><br>
                   {{Comment.comment}}<br><br>
                </ng-template>
              </div>
            </div>
          </div>

      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
